
.title {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

.login-area{
	text-align: center;
}

.input {
	margin-left: 3em;
}

.error{
	text-align: center;
	margin-bottom: 1em;
	color:red;
}

.a{
	margin-top: 3em;
}

.aaa{
	text-align: right;
}

.body{
	background-color: ;
}

.new{
	text-align: center;
	margin-top: 3em;
}
.text{
	text-align:center ;
}

.z{
	text-align: center;
}