@charset "UTF-8";

.body{
	background-image: url(img/b120);
	}

.a{
	color:;
	text-align: center;
}

.aa{
	background-color:;
}


.table-area {
	width: 1200px;
	margin: 0 auto;
}

.right{
	text-align: right;
	margin-right:7em;
}

.logout{
	text-align: right;
	background-color: gray;
}

.logout2{
	color: red;
	text-decoration: underline;
	margin-left: 2em;
	font-size: 100%;
	font-size: 100%;
}

.log{
	text-align: right;
	background-color: gray;
}

.log2{
	color: red;
	text-decoration: underline;
	margin-left: 2em;
	font-size: 100%;
	font-size: 100%;
}