@charset "UTF-8";

.a{
	text-align:center;
	margin-bottom:5em;
}

.aa{
	text-align:center;
}

.table-area {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 5em;
}


.aaa{
	height: 20em;
}

.center{
	text-align: center;
}

.return{
	margin-left: 5em;
}

.logout{
	text-align: right;
	background-color: gray;
	color: gray;
}

.logout2{
	color: red;
	text-decoration: underline;
	margin-left: 2em;
	font-size: 100%;
}

.size{
	font-size: 100%;
}